{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-survey.css') }}">
{% endblock %}

{% block body %}
    <header class="container-fluid display-4 text-center border-secondary border-bottom boder-3 fw-bold py-4 bg-dark text-light mb-3">
      Customer Satisfaction Form
    </header>
    <main class="container-fluid">
      <form action="/thanks" method="post">
        <div class="row">
          <div class="col-md-6 col-xl-4 px-4 d-flex flex-column justify-content-around">
            <div class="mt-1">  
              <div class="lead ps-1 fw-normal">Full Name</div>
              <div class="form-floating mt-2 mb-3 border border-dark rounded">
                <input autocomplete="no" type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                <label for="name">Enter your name</label>
              </div>
            </div>
            <div>
              <div class="lead ps-1 fw-normal">Email</div>
              <div class="form-floating mt-2 mb-3 border border-dark rounded">
                <input autocomplete="no" type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
                <label for="email">Enter your email</label>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 px-4 d-flex flex-column justify-content-around">
            <div class="mt-1">
              <label for="birthday" class="form-label lead ps-1 fw-normal">Birthday (Optional)</label>
              <div class="mb-3">
                <input autocomplete="no" class="form-control py-3 border border-dark rounded fs-6" type="date" name="birthday" id="birthday" placeholder="mm/dd/yyyy" min="1900-01-01" max="2100-1-1" />
              </div>
            </div>
            <div>
              <div class="lead ps-1 fw-normal">How often do you drink coffee in a day?</div>
              <div class="form-floating mt-2 mb-3 border border-dark rounded">
                <select name="coffee-per-day" class="form-select" id="coffee-per-day" required>
                  <option value=""></option>
                  <option value="0">I don't drink coffee</option>
                  <option value="1">1 cup a day</option>
                  <option value="2">2-3 cups a day</option>
                  <option value="3">More than 3 cups a day</option>
                </select>
                <label for="coffee-per-day" class="form-label">Select one</label>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 px-4 d-flex flex-column justify-content-around">
            <div class="mt-1">  
              <div class="lead ps-1 fw-normal">Address</div>
              <div class="form-floating mt-2 mb-3 border border-dark rounded">
                <input autocomplete="no" type="text" class="form-control" id="address" placeholder="Enter Address" name="address" required>
                <label for="address">Enter your address</label>
              </div>
            </div>
            <div class="mt-2 h-100">
              <div class="lead ps-1 fw-normal mb-3">Gender</div>
              <div class="d-flex justify-content-around">
                <div class="form-check form-check-inline px-4">
                  <input class="form-check-input" type="radio" name="gender" id="male" required>
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline px-4">
                  <input class="form-check-input" type="radio" name="gender" id="female">
                  <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline px-4">
                  <input class="form-check-input" type="radio" name="gender" id="others">
                  <label class="form-check-label" for="others">Others</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="lead ps-1 fw-normal pt-4 pt-lg-3 pb-2">Which of the following items did you try out?</div>
          <div class="row px-4 py-3 fs-5">
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="brewed-coffee">
              <label class="form-check-label" for="Product1">Brewed Coffee</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="espresso">
              <label class="form-check-label" for="Product1">Espresso</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="cafe-americano">
              <label class="form-check-label" for="Product1">Cafe Americano</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="cafe-latte">
              <label class="form-check-label" for="Product1">Cafe Latte</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="cappuccino">
              <label class="form-check-label" for="Product1">Cappuccino</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="caramel-macchiato">
              <label class="form-check-label" for="Product1">Caramel Macchiato</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="french-vanilla">
              <label class="form-check-label" for="Product1">French Vanilla</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="cold-brew">
              <label class="form-check-label" for="Product1">Cold Brew</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="cheesecake">
              <label class="form-check-label" for="Product1">Cheesecake</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="chocolate-cookie">
              <label class="form-check-label" for="Product1">Chocolate Cookie</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="cinnamon-roll">
              <label class="form-check-label" for="Product1">Cinnamon Roll</label>
            </div>
            <div class="form-check form-switch col-md-6 col-xl-4 mb-2">
              <input class="form-check-input" type="checkbox" id="strawberry-donut">
              <label class="form-check-label" for="Product1">Strawberry Donut</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 px-4 d-flex flex-column justify-content-around">
            <div class="mt-1">  
              <div class="lead ps-1 fw-normal">Which item do you want to try out next?</div>
              <div class="form-floating mt-2 mb-3 border border-dark rounded">
                <input autocomplete="no" type="text" class="form-control" id="next-item" placeholder="Enter item" name="next-item" required>
                <label for="next-item">Select an item</label>
              </div>
            </div>
            <div>
              <div class="lead ps-1 fw-normal">On a scale of 1-10, how would you rate your overall cafe experience?</div>
              <div class="form-floating mt-2 mb-3 border border-dark rounded">
                <input autocomplete="no" type="number" class="form-control" id="rating" min="1" max="10" placeholder="Enter rating" name="rating" required>
                <label for="rating">Rate us from 1-10</label>
              </div>
            </div>
          </div>
          <div class="col-lg-6 px-4 d-flex flex-column justify-content-center">
            <div class="mt-1 mb-3">
              <div class="lead ps-1 fw-normal mb-3">Do you plan to come again in the future?</div>
              <div class="d-flex justify-content-around">
                <div class="form-check form-check-inline px-4">
                  <input class="form-check-input" type="radio" name="come-again" id="yes" required>
                  <label class="form-check-label" for="yes">Yes!</label>
                </div>
                <div class="form-check form-check-inline px-4">
                  <input class="form-check-input" type="radio" name="come-again" id="no">
                  <label class="form-check-label" for="no">No!</label>
                </div>
                <div class="form-check form-check-inline px-4">
                  <input class="form-check-input" type="radio" name="come-again" id="maybe">
                  <label class="form-check-label" for="maybe">Maybe?</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="comment" class="lead py-2 fw-normal">Any comments or suggestions for improvements?</label>
              <textarea autocomplete="no" class="form-control boder border-dark" rows="2" id="comment"></textarea>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-secondary mt-3 mb-2 px-3 fs-5">Submit</button>
          </div>
        </div>
    </form>
    </main>
{% endblock %}